body{
    background-size: cover;
    background-position: center;
}
#bottles{
    font-size: 50px;
    color: white;
}

#desk{
    font-size: 50px;
    color: white;
}

#livingroom{
    font-size: 50px;
    color: white;
}
#tvandac{
    font-size: 50px;
    color: white;
}